.cards {
    height: 300px;
    margin: 20px 200px 0;
}
.columnfirst {
    float: left;
    width: 35%;
}
.columnsecond {
    float: left;
    width: 45%;
    padding-left: 60px;
}
.card-name {
    font-family: 'Arial Narrow', sans-serif;
    font-size: 28px;
    font-weight: 800;
    padding-top: 50px
}
.card-price1 {
    position: absolute;
    top: 50px;
    left: 430px;
    font-family: 'Arial Narrow', sans-serif;
    font-size: 16px;
    font-weight: 600;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #fff;
    line-height: 60px;
    text-align: center;
    background: #000;
}
.card-price2 {
    position: absolute;
    top: 320px;
    left: 430px;
    font-family: 'Arial Narrow', sans-serif;
    font-size: 16px;
    font-weight: 600;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #fff;
    line-height: 60px;
    text-align: center;
    background: #000;
}
.card-description {
    font-family: 'Arial Narrow', sans-serif;
    font-size: 16px;
    color: lightslategrey
}
.card-weight {
    font-family: 'Arial Narrow', sans-serif;
    font-size: 16px;
}
#but1{
    color: white;
    text-decoration: none;
    user-select: none;
    font-family: 'Arial Narrow', sans-serif;
    font-size: 16px;
    font-weight: 600;
    background: rgb(204, 77, 60);
    padding: .7em 1.5em;
    border: none;
    outline: none;
}
#but1:hover { background: rgb(232,95,76); }
#but1:active { background: rgb(152,15,0); }

#but2{
    color: white;
    text-decoration: none;
    user-select: none;
    font-family: 'Arial Narrow', sans-serif;
    font-size: 16px;
    font-weight: 600;
    background: rgb(204, 77, 60);
    padding: .7em 1.5em;
    border: none;
    outline: none;
}
#but2:hover { background: rgb(232,95,76); }
#but2:active { background: rgb(152,15,0); }